body{
	margin:0;
	padding:0;
}

.story-container{
	width:40rem;
	max-width:100%;
	height:22.5rem;
	margin:2rem auto;
}

.story-container-webkit-full-screen{
	width:100%;
	height:100%;
}

.loading{
	background-color:blue;
}

.title-card{
	font-size:2em;
	font-family:Arial;
	background-color:#000;
	color:#fff;
	display:flex;
	height:100%;
	width:100%;
	flex-direction:column;
	justify-content:center;
	text-align:center;
	border-box:contain;
	cursor:pointer;
}

.vn{
	background-color:black;
}

.title *{
	margin:0;
}