@font-face {
	font-family: "Fengardo Neue";
	src: url("FengardoNeue_Black.otf");
}

/*The container*/
.showpony{
	/*background-color:#000;*/
	overflow:hidden;
}

.showpony-overlay{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background-color:rgba(0,0,0,.75);
	visibility:hidden;
	-ms-user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	font-family:"Fengardo Neue";
	z-index:1000;
	pointer-events:none;
}

.showpony-overlay-visible{
	visibility:visible;
	pointer-events:auto;
}

.showpony-progress{
	position:absolute;
	top:20%;
	bottom:0;
	width:.5em;
	transform:translate(-.25em,0);
	background-color:#fff;
	pointer-events:none;
}

.showpony-progress::after{
	content: " ";
	position:absolute;
	border:solid white .5em;
	border-radius:100%;
	transform:translate(-.75em,-1.5em);
	box-sizing:border-box;
	width:2em;
	height:2em;
	pointer-events:none;
}

.showpony-overlay-text{
	position:absolute;
	width:100%;
	color:white;
	text-align:center;
	pointer-events:none;
}

.showpony-menu-button
,.showpony-fullscreen-button
,.showpony-captions-button{
	position:absolute;
	top:0;
	border:none;
	width:3em;
	height:3em;
	cursor:pointer;
	background-image:url('showpony.svg'), radial-gradient(rgba(0,0,0,.75),rgba(0,0,0,0));
	background-size:cover;
	transition:opacity .5s;
	background-color:rgba(0,0,0,0);
	z-index:1001;
}

.showpony-fullscreen-button{
	right:0;
	background-position:0% 0%;
}

/*Showing the button without the overlay*/
.showpony-button-preview{
	opacity:0;
	background-color:rgba(0,0,0,.25);
	border-radius:10%;
}

.showpony-button-preview:hover
,.showpony-button-preview:focus{
	opacity:1;
}

.showpony-menu-button{
	left:0;
	background-position:0% 50%;
}

.showpony-captions-button{
	left:0;
}

.showpony-content-video
,.showpony-content-audio
,.showpony-content{
	width:100%;
	height:100%;
}

.showpony-content-image{
	display:flex;
	align-items:center;
	justify-content:center;
	width:100%;
	height:100%;
	position:absolute;
}

.showpony-image{
	left:0;
	top:0;
	width:100%;
	height:100%;
	margin:auto;
	display:block;
	cursor:pointer;
	object-fit:contain;
}

.showpony-player{
	width:100%;
	height:100%;
}

.showpony-button{
	width:10em;
	max-width:100%;
	display:block;
	text-align:left;
	margin:auto;
}

.showpony-textbox{
	width:100%;
	background-color:rgba(0,0,0,.8);
	box-sizing:border-box;
	color:#fff;
	font-family:Arial;
	z-index:100;
	position:absolute;
	bottom:0;
	padding:1em;
	height:5em;
	max-height:100%;
	overflow:auto;
	opacity:1;
	transition:all 1s;
	
	user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	-moz-user-select:none;
	font-size:2em;
}

.showpony-background{
	width:100%;
	height:100%;
	z-index:-100;
	position:absolute;
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	transition:all 1s;
}

.showpony-character{
	width:100%;
	height:90%;
	bottom:0%;
	left:0%;
	position:absolute;
	transition:1s left;
	z-index:0;
}

.showpony-character div{
	width:100%;
	height:100%;
	position:absolute;
}

.showpony-continue{
	color:white;
	background-color:red;
	position:fixed;
	right:0;
	bottom:0;
	z-index:101;
}

/*Fullscreen display*/
:-webkit-full-screen{
	width:100%;
	height:100%;
}
/*
,:-moz-full-screen
,:-ms-fullscreen
,:full-screen
,:fullscreen*/

/*Text effects*/
@keyframes kn-display{
	0% {visibility:hidden;}
	100% {visibility:visible;}
}

@keyframes kn-fade{
	0% {opacity:0;}
	100% {opacity:1;}
}

@keyframes kn-shout{
	0% {transform:scale(2);}
	100% {transform:scale(1);}
}

@keyframes kn-sing{
	0% {transform:translate(0,-.2em);}
	50% {transform:translate(0,.2em);}
	100% {transform:translate(0,-.2em);}
}

@keyframes kn-shake{
	0% {transform:translate(.05em,.125em);} 
	25% {transform:translate(-.05em,-.125em);}
	50% {transform:translate(-.05em,.125em);} 
	75% {transform:translate(.05em,-.125em);} 
	100% {transform:translate(.05em,.125em);}
}

@keyframes kn-smoke {
  0% {
	transform:
	  translate(-.5em,-1.5em)
	  rotate(-40deg)
	  skewX(80deg)
	  scale(2);
	opacity: 0;
	filter:blur(.5em);
  }
  to {
	transform:none;
	opacity:1;
	filter:blur(0em);
  }
}

@keyframes kn-blur {
  0% {
	opacity:0;
	filter:blur(.5em);
  }
  to {
	opacity:1;
	filter:blur(0em);
  }
}

@keyframes kn-smoke-mirror {
  0% {
	transform:
	  translate(.5em,-1.5em)
	  rotate(40deg) 
	  skewX(-80deg)
	  scale(2);
	opacity: 0;
	filter:blur(.5em)
  }
  to {
	transform:none;
	opacity:1;
	filter:blur(0em);
	}
}

@keyframes kn-glitch{
	0% {transform:;}
	100% {opacity:1;}
}

@keyframes scramble{
	0%{content:'*';visibility:visible;}
	10%{content:'1';}
	20%{content:'/';}
	30%{content:'0';}
	40%{content:'?';}
	50%{content:'1';}
	60%{content:'@';}
	70%{content:'!';}
	80%{content:'&';}
	90%{content:'$';}
}

.kn-scramble::before{
	visibility:hidden;
	content:'L';
	animation:scramble 1s 1;
	position:absolute;
}

.kn-choice{
	text-align:left;
	display:block;
	background:none;
	color:white;
	width:100%;
	cursor:pointer;
	font-size:1em;
	transition:all .1s;
}

.kn-choice:hover{
	background-color:#fff;
	color:#000;
}

.showpony-kn-char{
	visibility:hidden;
	font-size:1em;
	color:inherit;
	font-weight:inherit;
	font-style:inherit;
}

.showpony-kn-char-shout{
	animation:kn-shout .1s linear forwards;
}

.showpony-kn-char-fade{
	animation:kn-fade 1s linear forwards;
}

.showpony-kn-char-blur{
	animation:kn-blur 1s linear forwards;
}

.showpony-kn-char-glitch{
	animation:kn-glitch 1s linear infinite;
}

.showpony-kn-char-smoke{
	animation:kn-smoke 1s ease forwards;
}

.showpony-kn-char-sing{
	animation:kn-sing 1.5s ease-in-out infinite;
}

.showpony-kn-char-shake{
	animation:kn-shake .2s linear infinite;
}

/*When the editor is open*/
.showpony-editor{
	
}

.showpony-editor-ui{
	visibility:hidden;
	
	background-color:red;
	position:absolute;
	bottom:0;
	height:20%;
	width:100%;
	z-index:10000;
}

.showpony-editor .showpony-editor-ui{
	visibility:visible;
}

.showpony-editor .showpony-content-book{
	height:80%;
	bottom:0;
}

.showpony-editor-title{
	display:block;
	margin:auto;
	width:100%;
}