/*/////////////////////////////////////
////////////////GENERAL////////////////
/////////////////////////////////////*/

.s{
	background-color:#000;
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%;
}

/*Loading Setup*/
.s-loading::after{
	content:" ";
	display:block;
	position:absolute;
	border-radius:100%;
	top:50%;
	left:50%;
	width:2em;
	height:2em;
	pointer-events:none;
}

/*Automatic loading with these, and disable animations*/
.s-loading,.s-loading *
,.s-paused .s-content, .s-paused  .s-content *{
	animation-play-state:paused !important; /*Disables general animations and text animations, so we freeze while loading*/
}

.s-paused .s-content{
	pointer-events:none;
}

.s-cover{
	width:100%;
	height:100%;
	position:absolute;
	object-fit:cover;
}

.s-cover>p{
	background-color:rgba(0,0,0,0.5);
	box-sizing:border-box;
	padding:1em;
	transition:transform .25s;
	transform:scale(1);
	text-align:center;
}

.s-cover>p:hover{
	transform:scale(1.1);
}

/*/////////////////////////////////////
////////////////BUTTONS////////////////
/////////////////////////////////////*/

.s-paused .s-regress
,.s-paused .s-progress
,.s-paused .s-pause{
}

.s-regress
,.s-progress
,.s-pause{
	border:none;
	
	position:absolute;
	display:block;
	width:50%;
	bottom:0%;
	
	box-sizing:border-box;
	
	pointer-events:none;
	
	background-color:#fff;
	background-repeat:no-repeat;
	background-size:4em;
	background-position:50% 25%;
}

.s-regress{
	left:0%;
	height:100%;
	
	border-right:.125em solid #c3c3c3;
	
	background-image:url('showpony/icons/regress.svg');
}

.s-progress{
	right:0%;
	height:100%;
	
	border-left:.125em solid #c3c3c3;
	
	background-image:url('showpony/icons/progress.svg');
}

.s-pause{
	height:50%;
	left:25%;
	bottom:0;
	
	border:.25em solid #c3c3c3;
	border-bottom:none;
	
	background-image:url('showpony/icons/pause.svg');
}

/*/////////////////////////////////////
/////////////////MENU//////////////////
/////////////////////////////////////*/

@font-face{
	font-family: 'ShowponyUI';
	src:url('showpony/M-1m/mplus-1m-medium.ttf');
	font-weight:medium;
	font-style:normal;
}

.s-overlay{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	
	opacity:0;
	color:#000;
	background-color:#fff;
	
	-ms-user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	
	pointer-events:none;
	
	font-family: 'ShowponyUI';
	font-size: 1rem;
}

.s-paused .s-overlay{
	opacity:.75;
	pointer-events:auto;
}

/*Menu scrub bar*/
.s-scrub{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	
	opacity:0;
	color:#000;
	
	-ms-user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	
	pointer-events:none;
	
	font-family: 'ShowponyUI';
	font-size: 1rem;
}

.s-hold:not(.s-paused) .s-overlay{
	opacity:.5;
}

.s-hold:not(.s-paused) .s-hide-on-hold{
	display:none;
}

.s-overlay-buffer{
	position:absolute;
	width:100%;
	height:1em;
	top:0;
	
	background-color:#fff;
	
	pointer-events:none;
}

.s-progress-bar{
	position:absolute;
	width:.5em;
	height:100%;
	top:0;
	
	background-color:#000;
	transform:translate(-.25em,0);
	
	pointer-events:none;
}

.s-overlay-text{
	position:absolute;
	width:100%;
	
	display:flex;
	justify-content:space-between;
	text-align:center;
	
	font-size:2em;
	margin:0;
	padding:.75em 1em;
	box-sizing:border-box;
	
	pointer-events:none;
}

.s-overlay-text p{
	background:#fff;
	margin:0;
}

.s-upcoming-file{
	font-size:1em;
	position:relative;
	margin:0 auto;
	display:block;
	text-align:center;
	top:4em;
	
	background-color:#fff;
	pointer-events:none;
}

.s-content{
	width:100%;
	height:100%;
	position:absolute;
	
	-ms-user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	
	color:white;
	z-index:0;
}

.s-buttons{
	position:absolute;
	bottom:0;
	width:100%;
	
	display:flex;
	justify-content:center;
	margin:auto;
	
	pointer-events:none;
}

.s-buttons button{
	width:7.5em;
	height:7.5em;
	
	cursor:pointer;
	
	background-color:#fff;
	color:#000;
	border:.25em solid black;
	
	box-sizing:border-box;
	
	background-size:contain;
}

.s-buttons button:active{
	filter:invert(1);
}

.s-dropdowns{
	left:0;
	top:0;
	right:0;
	bottom:0;
	position:absolute;
	display:flex;
	
	justify-content:center;
	align-items:center;
	
	pointer-events:none;
}

.s-dropdown{
	font-size:2em;
	width:10em;
	max-width:90%;
	height:5em;
	bottom:7.5em;
	
	margin:auto;
	padding-left:3em;
	box-sizing:border-box;
	
	overflow:auto;
	
	background-color:#fff;
	border:.125em solid black;
	
	display:none;
	
	pointer-events:auto;
	
	background-repeat:no-repeat;
	background-size:3em;
}

.s *::-webkit-scrollbar{
	width:1em;
	background-color:#fff;
	cursor:auto;
}

.s *::-webkit-scrollbar-thumb{
	background-color:#000;
	border-left:solid #fff .1em;
}

.s-dropdown button{
	font-size:1em;
	width:100%;
	padding:0 .25em;
	margin:0;
	box-sizing:border-box;
	margin:0;
	
	text-align:left;
	cursor:pointer;
	font-family:'ShowponyUI';
	
	background:none;
	background-color:#fff;
	border:none;
	box-shadow:none;
}

.s-dropdown button:hover
,.s-dropdown .s-selected{
	background-color:#000;
	color:#fff;
}

.s-dropdown.s-visible{
	display:block;
}

.s-dropdown-language{
	background-image:url('showpony/icons/language.svg');
}

.s-dropdown-subtitles{
	background-image:url('showpony/icons/subtitles.svg');
}

.s-dropdown-bookmark{
	background-image:url('showpony/icons/bookmark.svg');
}

.s-bookmark{
	display:flex;
}

.s-bookmark-delete{
	width:1em;
}

.s-paused .s-buttons button{
	pointer-events:auto;
}

.s-button-comments{
	background-image:url('showpony/icons/comments.svg');
	display:none;
}

.s-button-language{
	background-image:url('showpony/icons/language.svg');
}

.s-button-subtitles{
	background-image:url('showpony/icons/subtitles.svg');
}

.s-button-bookmark{
	background-image:url('showpony/icons/bookmark.svg');
}

.s-fullscreen-button{
	background-image:url('showpony/icons/fullscreen.svg');
}

.s-captions-button{
	display:none;
}


/*Fullscreen display*/
:-webkit-full-screen{
	width:100%;
	height:100%;
}

:-webkit-full-screen:focus{
	outline:none;
}

/*If fullscreen isn't supported, this is applied to the element*/
.s-fullscreen-alt{
	position:fixed !important;
	top:0;
	left:0;
	right:0;
	bottom:0;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}

/*Control goes on html to prevent scrolling*/
.s-fullscreen-control{
	overflow:hidden;
}

.s-fullscreen-alt:focus{
	outline:none;
}

.s-fullscreen-control body{
	background-color: black;
}