/*/////////////////////////////////////
////////////////GENERAL////////////////
/////////////////////////////////////*/

.showpony{
	background-color:#000;
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%;
}

/*Loading Setup*/
.showpony-loading::after{
	content:" ";
	display:block;
	position:absolute;
	border-radius:100%;
	top:50%;
	left:50%;
	width:2em;
	height:2em;
	pointer-events:none;
}

/*Automatic loading with these, and disable animations*/
.showpony-loading,.showpony-loading *
,.showpony-paused .showpony-content, .showpony-paused  .showpony-content *{
	animation-play-state:paused !important; /*Disables general animations and text animations, so we freeze while loading*/
}

.showpony-cover{
	z-index:2;
	position:absolute;
	width:100%;
	height:100%;
	background-size:cover;
	background-position:50%;
	cursor:pointer;
	display:flex;
	font-size:3em;
	justify-content:center;
	align-items:center;
	color:white;
}

.showpony-cover>p{
	background-color:rgba(0,0,0,0.5);
	box-sizing:border-box;
	padding:1em;
	transition:transform .25s;
	transform:scale(1);
	text-align:center;
}

.showpony-cover>p:hover{
	transform:scale(1.1);
}

/*/////////////////////////////////////
/////////////////MENU//////////////////
/////////////////////////////////////*/

.showpony-overlay{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:0;
	color:#000;
	background-color:rgba(255,255,255,.5);
	
	-ms-user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	
	/* For now, we'll disable the menu when it's not active. */
	pointer-events:none;
}

.showpony-paused .showpony-overlay{
	opacity:1;
	pointer-events:auto;
}

.showpony-paused .showpony-overlay{
	background-color:rgba(255,255,255,.5);
}

.showpony-overlay-text{
	position:absolute;
	width:100%;
	height:100%;
	pointer-events:none;
	
	font-family:monospace;
	font-size:2.5em;
	margin:0;
	padding:.25em;
}

.showpony-overlay button{
	border:none;
	width:3rem;
	height:3rem;
	pointer-events:auto;
	cursor:pointer;
}

.showpony-overlay-buffer{
	width:100%;
	top:3.25em;
	height:.25em;
	position:absolute;
	pointer-events:none;
	opacity:.5;
	background-color:black;
}

/*Menu scrub bar*/
.showpony-progress{
	position:absolute;
	top:3.25em;
	
	width:1em;
	height:.25em;
	background-color:#fff;
	transform:translate(-.5em,0);
	pointer-events:none;
}

.showpony-content{
	width:100%;
	height:100%;
	position:absolute;
	
	-ms-user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	
	color:white;
	z-index:0;
}

.showpony-block{
	left:0;
	top:0;
	width:100%;
	height:100%;
	cursor:pointer;
	object-fit:contain;
}

/*Fullscreen display*/
:-webkit-full-screen{
	width:100%;
	height:100%;
}

:-webkit-full-screen:focus{
	outline:none;
}

/*If fullscreen isn't supported, this is applied to the element*/
.showpony-fullscreen-alt{
	position:fixed !important;
	top:0;
	left:0;
	right:0;
	bottom:0;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}

/*Control goes on html to prevent scrolling*/
.showpony-fullscreen-control{
	overflow:hidden;
}

.showpony-fullscreen-alt:focus{
	outline:none;
}

/*/////////////////////////////////////
///////////////SUBTITLES///////////////
/////////////////////////////////////*/

.showpony-subtitles{
	position:absolute;
	width:100%;
	height:100%;
	pointer-events:none;
}

.showpony-sub{
	position:absolute;
	background-color:rgba(0,0,0,0.64);
	color:white;
	overflow:auto;
	font-size:1.5em;
	padding:.5em;
	box-sizing:border-box;
	margin:0;
	pointer-events:auto;
	
	left:10%;
	width:80%;
	top:70%;
	height:20%;
}